# Composer
picom &

# Wallpaper
WALLPAPER_CONFIG_FILE="$HOME/.config/.theme/config.json"
wallpaper=$(jq '.wallpaper' "$WALLPAPER_CONFIG_FILE" | sed 's/"//g')
feh --bg-scale "$HOME/Wallpapers/$wallpaper" &

# Autonomous devices
udiskie -t &

# Network at status bar
nm-applet &

sleep 2

# Monitor configuration 
xrandr --output HDMI-1 --mode 1920x1080 --pos 1920x0 --rotate normal --output DP-1 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output DP-2 --off --output DP-3 --off &
# Keyboard Layout
setxkbmap es &


