# Keyboard Layout
setxkbmap es &

# Composer
picom &

# Wallpaper
WALLPAPER_CONFIG_FILE="$HOME/.config/.theme/config.json"
wallpaper=$(jq '.wallpaper' "$WALLPAPER_CONFIG_FILE" | sed 's/"//g')
feh --bg-scale "$HOME/Wallpapers/$wallpaper" &

# Autonomous devices
udiskie -t &

# Network at status bar
nm-applet &
